@model IEnumerable<LibraryManagement.BOOK>
@{
    ViewBag.Title = "Books";
}


<link href="../Content/StyleSheet.css" rel="stylesheet" />

<body>

    @using (Html.BeginForm("Search", "Books", FormMethod.Post, new { @class = "Search-form" }))
    {

        <div align="right" style="margin-top:20px">

            @Html.RadioButton("SearchType", "0")
            @Html.Label("ID")
            @Html.RadioButton("SearchType", "1", true)
            @Html.Label("Title/Category")

            <input type="text" name="q" placeholder="Search Books" />
            <input type="submit" value="Search" id="btnSubmit" />
            @if (ViewBag.Message != null)
            {
                <div style="color:red">
                    @ViewBag.Message.ToString();
                </div>
            }
        </div>
    }


    <div id="DivGrid">
        @{
            var grid = new WebGrid(source: Model, canPage: true, rowsPerPage: 4, defaultSort: "BOOK_ID");
            if (Model.Count() > 0)
            {
                <div><strong> @ViewBag.SearchParameter</strong>  <div align="right">@grid.TotalRowCount @Html.Label("Record(s) found")</div></div>
                @grid.GetHtml(tableStyle: "PGrid", headerStyle: "Header", htmlAttributes: new { id = "DataTable" }, columns: grid.Columns(
                          grid.Column("BOOK_ID", "Book ID"),
                          grid.Column("BOOK_NAME", "Book Title"),
                          grid.Column("CATEGORY"),
                          grid.Column("STATUS", "AvailabilityStatus"),
                          grid.Column("AUTHOR", "Author List"),
                          grid.Column("", header: "Action", format: @<text>@Html.ActionLink("Edit", "Edit", new { id = item.BOOK_ID }, new { @class = "btn btn-primary" }) | @Html.ActionLink("Delete", "Delete", new { id = item.BOOK_ID }, new { @class = "btn btn-danger" })</text>)));
            }
            else
            {
                <hr />@Html.Label("No, Record(s) not found")<hr />
            }
        }
    </div>


    @using (Html.BeginForm("Create", "Books", FormMethod.Get))
    {
        <input type="submit" value="Add Book" class="btn btn-danger btn-block" />
    }
</body>

