@model LibraryManagement.Models.BookModel
@{
    ViewBag.Title = "Create";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2>Add Book</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.BOOK_NAME, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BOOK_NAME, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BOOK_NAME, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.CATEGORY, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.DropDownListFor(model => model.CATEGORY, new SelectList(ViewBag.CategoryList), "---Select Category---", new { @class = "dropdown", style = "margin-bottom : 7px;height: 23px;width: 179px;" })
                @Html.ValidationMessageFor(model => model.CATEGORY, "", new { @class = "text-danger" })
            </div>
        </div>

        <label>STATUS:  </label>

        <label>Available</label>
        @Html.RadioButtonFor(m => m.STATUS, "Available")

        <label>Not Available</label>
        @Html.RadioButtonFor(m => m.STATUS, "Not Available")
    </div>
    <br />

    <div class="form-group">
        @Html.LabelFor(model => model.AUTHOR, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.AUTHOR, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.AUTHOR, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>

}

<div>
    @Html.ActionLink("Back to List", "Books", new { @class = "btn btn-primary" })
</div>
