@model LibraryManagement.Models.BookModel

@{
    ViewBag.Title = "Delete";
}

<head>
    <style>
        body {
            background-size: cover; /* <------ */
            background-repeat: no-repeat;
            background-image: url('../../Content/image/bg-img-view.jpg');
        }

        #inside-box {
            border: 1px solid black;
            margin: 10% auto 10% auto;
          /*  max-width: 400px;
            min-width: 300px;*/
            padding-left: 60px;
            padding-right: 30px;
            border-radius: 10px;
            background-color: whitesmoke;
        }
    </style>
</head>


<div id="inside-box">
    <h1>Delete book</h1>

    <h2>Are you sure you want to delete this ?</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Book</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.BOOK_ID)

            <div class="form-group">
                @Html.LabelFor(model => model.BOOK_NAME, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.BOOK_NAME)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CATEGORY, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.CATEGORY)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.STATUS, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.STATUS)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AUTHOR, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.AUTHOR)
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Books")
    </div>
</div>
